.unifrakturmaguntia-regular {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}

:root {
    --preto: #000000;
    --branco: #ffffff;
    --dourado: #C9A227;
    --bege: #e3c49a;
    --vermelho: #D50000;
    --laranja: #f47927;
    --fonte--principal: "UnifrakturMaguntia", cursive;
    --fonte--secundaria: "Playfair Display", serif;
    --fonte--terciaria: "Oswald", sans-serif;
}

/* TODO: Adaptar o cabeçalho para telas menores */


body {
    background-color: var(--preto);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    font-family: var(--fonte--terciaria);
    overflow-x: hidden;
}

.cabecalho {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 10px 40px;
    margin: 0;
    z-index: 1000;
    top: 0%;
    left: 0%;
}

.logo {
    width: 118px;
    height: auto;
}

.cabecalho {
    display: flex;
    font-family: var(--fonte--terciaria);
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background-color: transparent;
    animation: fadeInDown 1s ease-in-out;
}

.home .cabecalho::after {
    content: "";
    display: block;
    height: 40px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: -9px;
    width: 100%;
    left: 0;
    z-index: 999;
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cabecalho__lista {
    display: flex;
    gap: 35px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--branco);
    font-size: 24px;
    font-weight: 400;
}

ul li a:hover {
    color: var(--branco);
    transition: color 0.4s ease;
}

.cabecalho__lista li a {
    position: relative;
    transition: color 0.3s ease;
}

.cabecalho__lista li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--branco);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.cabecalho__lista li a:hover::after {
    transform: scaleX(1);
}




.conteudo__principal {
    position: relative;
    background-image: url('img/background-2pac-legado.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.7);
    z-index: 1;
}

.hero {
    position: relative;
    z-index: 2;
    color: var(--branco);
    padding: 2rem;
    animation: fadeIn 2s ease-in-out;
}

.hero h1 {
    font-size: 2.8rem;
    font-family: var(--fonte--principal);
    font-style: italic;
    filter: drop-shadow(2px 2px 12px black);
    min-height: 90px;
}

.hero h2 {
    margin-top: 1rem;
    font-family: var(--fonte--secundaria);
    color: var(--branco);
}

.subtitulo {
    margin-top: 2rem;
    font-style: italic;
    color: var(--branco);
}

.botao-scroll {
    margin-top: 3rem;
    padding: 12px 32px;
    background-color: transparent;
    border: 2px solid var(--branco);
    color: var(--branco);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-scroll:hover {
    background-color: var(--branco);
    color: var(--preto);
    box-shadow: 0 0 15px var(--branco);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.selo__2pac {
    color: var(--branco);
    font-size: 17px;
    font-family: var(--fonte--secundaria);
    text-align: center;
    padding: 0 17rem;
    margin-top: 24px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagem__selo {
    width: 9rem;
    height: auto;
}

.descricao {
    font-size: 20px;
    font-weight: 700;
    max-width: 1100px;
    text-align: center;
}

.botao__link {
    text-decoration: none;
    font-family: var(--fonte--terciaria);
    color: var(--dourado);
    font-size: 34px;
    font-weight: bold;
    transition: all 0.4s ease;
    transform: scaleX(0);
    transform-origin: center;
}

.botao__link:hover {
    color: var(--branco);
}

.botao__link a:hover::after {
    transform: scaleX(1);
}





.secao__biografia {
    background: linear-gradient(to bottom, #000, #fff 50%, #3b3b3b 100%);
    padding: 120px 40px;
    color: var(--branco);
}

.biografia__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.biografia__visual {
    position: relative;
    max-width: 800px;
    width: 100%;
}

.biografia__visual img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 60px rgba(192, 79, 79, 0.2);
    object-fit: cover;
}

.biografia__frase {
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-left: 5px solid var(--vermelho);
    max-width: 600px;
    border-radius: 10px;
}

.biografia__frase h2 {
    font-family: var(--fonte--terciaria);
    font-size: 42px;
    margin-bottom: 15px;
    color: var(--branco);
    text-transform: uppercase;
}

.biografia__frase h2 .vermelho {
    color: var(--vermelho);
}

.biografia__frase p {
    font-family: var(--fonte--secundaria);
    font-size: 20px;
    color: var(--branco);
    margin-bottom: 25px;
}

.botao__leia {
    display: inline-block;
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.botao__leia:hover {
    background-color: var(--vermelho);
}




.secao__discografia {
    background-image: url(img/backgroun\ 2pac\ disc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 126vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    color: var(--vermelho);
    overflow: hidden;
}

.secao__discografia::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none;
}

.discografia__conteudo {
    width: 100%;
    z-index: 3;
    position: relative;
}

.carousel-container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
}

.carousel {
    width: 100%;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease;
}

.carousel img:hover {
    transform: scale(1.08);
}

.disco {
    position: relative;
}

.disco p {
    font-family: var(--fonte--terciaria);
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    color: var(--branco);
    filter: drop-shadow(2px 2px 11px rgb(255, 255, 255));
}

.seta {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: var(--branco);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.2s ease;
}

.seta__direita {
    font-size: 2.5rem;
    background: none;
    border: none;
    color: var(--branco);
    cursor: pointer;
    z-index: 2;
    transition: transform 0.2s ease;
}

.seta:hover {
    transform: scale(1.3);
}



.informacao__discografia {
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    background-color: rgba(0, 0, 0, 0.7);
}

.frase__destaque__disco {
    text-align: center;
}

.informacao__discografia h3 {
    font-family: var(--fonte--terciaria);
    font-size: 2.5rem;
    color: var(--branco);
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 4px black);
}

.informacao__discografia p {
    font-family: var(--fonte--secundaria);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    filter: drop-shadow(2px 2px 4px black);
}

.link__disco {
    display: inline-block;
    text-decoration: none;
    font-family: var(--fonte--terciaria);
    font-size: 30px;
    color: var(--branco);
    transition: all 0.4s ease;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    margin-top: 50px;
    border-bottom: 3px solid var(--dourado);
}

.link__disco:hover {
    color: var(--dourado);
}



.secao_costa_oeste {
    background-image: url(img/2pac-costa-oeste-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300vh;
    text-align: center;
    position: relative;
    color: var(--branco);
    overflow: hidden;
}

.descricoes__costa__oeste {
    margin-top: 8rem;
}

.destaque__titulo {
    font-family: var(--fonte--terciaria);
    font-size: 8rem;
    color: var(--dourado);
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 4px black);
    margin-bottom: 30px;
}

.destaque__descricao {
    font-family: var(--fonte--secundaria);
    font-size: 27px;
    margin: 10px 0;
    filter: drop-shadow(2px 2px 4px black);
    padding: 0 12rem;
}

.scroll__indicator {
    text-align: center;
    margin-top: 40px;
}

#scrollBtn {
    font-size: 3.2rem;
    background: none;
    border: none;
    color: var(--dourado);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#scrollBtn:hover {
    transform: translateY(5px);
}

.hidden__section {
    font-family: var(--fonte--terciaria);
    font-size: 2.4rem;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
    text-align: center;
    margin-top: 30rem;
    color: var(--branco);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 2px 4px black);
}

.show__section {
    opacity: 1;
    transform: translateY(0);
}

.animated__caption a {
    display: inline-block;
    margin-left: 8px;
    color: var(--dourado);
    text-decoration: underline;
    font-weight: bold;
}




.secao__galeria {
    background-image: url(img/2pac-seção-galeria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 126vh;
    text-align: center;
    position: relative;
    color: var(--branco);
    overflow: hidden;
    margin-top: 10rem;
}

.titulo__secao {
    font-size: 3.5em;
    font-family: var(--fonte--principal);
    color: var(--vermelho);
    margin-bottom: 10px;
    filter: drop-shadow(2px 2px 4px rgb(255, 255, 255));
    filter: drop-shadow(0px 0px 2px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.10);
}

.paragrafo__secao {
    font-size: 2em;
    font-family: var(--fonte--terciaria);
    margin-bottom: 40px;
    font-weight: 300;
}


.galeria__preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
}

.foto__secao {
    width: 280px;
}

.foto__secao img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    border-radius: 10px;
    filter: grayscale(0);
    transform: scale(1.05);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px px rgba(255, 255, 255, 0.1);
}

.foto__secao img:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    filter: grayscale(0);
    transform: scale(1.05);
}

.foto__secao p {
    font-family: var(--fonte--terciaria);
    margin-top: 8px;
    font-size: 18px;
}

.botao__galeria {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 25px;
    background: var(--preto);
    color: var(--branco);
    border: solid 3px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 3px rgb(255, 255, 255));
}

.botao__galeria:hover {
    background: var(--branco);
    color: var(--preto);
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    cursor: zoom-out;
    padding: 20px;
}

.lightbox img {
    width: 100;
    max-height: 450px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
}



/*
.marco__final {
    background-image: url('img/2pac-marco-final.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8%;
    color: white;
    position: relative;
}

.marco__final::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0));
    z-index: 1;
}

.marco__final .texto {
    position: relative;
    z-index: 2;
    max-width: 600px;
    text-align: right;
}

.marco__final h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--dourado);
    font-weight: bold;
}

.marco__final p {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.95;
}

.marco__final blockquote {
    font-size: 1.1rem;
    font-style: italic;
    border-right: 3px solid var(--dourado);
    padding-right: 1rem;
    color: var(--branco);
    opacity: 0.85;
}
**/


.footer {
    font-family: var(--fonte--secundaria);
    color: var(--branco);
    background: url('') center center / cover no-repeat fixed;
    background-attachment: fixed;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.footer__visible {
    opacity: 1;
}

.footer__background {
    position: relative;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__titulo {
    font-size: 17rem;
    color: var(--branco);
    mix-blend-mode: difference;
    letter-spacing: 8px;
    font-weight: 900;
    pointer-events: none;
    user-select: none;
    text-align: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer__redes__sociais p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer__icons a {
    margin: 0 0.6rem;
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer__icons img {
    width: 32px;
    height: 32px;
    transition: filter 0.3s ease;
}

.footer__icons a:hover img {
    filter: brightness(1.3) sepia(1) hue-rotate(20deg) saturate(2);
    transform: scale(1.1);
}


.footer__links ul {
    font-family: var(--fonte--principal);
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.footer__links a {
    color: var(--branco);
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__links a:hover {
    color: var(--dourado);
}


.footer__copyright {
    text-align: center;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    color: var(--branco);
}